<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <script id="requester-template" type="text/x-handlebars-template">
    <div><b>Status:</b> <span class="data">{{status}}</span></div>

    {{#if rows}}
    <b>Recent occurrences</b>
    {{#each rows}}
      <div class="occurrence" width="100%">
        <div class="data"><a href="{{url}}" target="_blank">{{title}}</a></div>
        <div class="data">{{timestamp}}</div>
      </div>
    {{/each}}
    {{/if}}
</script>
<script id="error-template" type="text/x-handlebars-template">
  <p>{{status}} - {{statusText}} error. Please report a bug at the link below.</p>
</script>
  <script src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.8/handlebars.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <div id="content"></div>
</body>
<footer>
  <a href="https://github.com/tidepool-org/rollbar-zendesk-integration/issues">Report bugs</a>
</footer>
</html>
